name: nostr_sdk
description: "Nostr protocol implementation, Relay, RelayPool, high-level client library, NWC client and more."
version: 0.37.0
homepage: https://rust-nostr.org

environment:
  sdk: ^3.5.3
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_rust_bridge: 2.0.0
  freezed_annotation: ^2.2.0
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  build_runner: ^2.4.8
  ffi: ^2.1.0
  ffigen: ^11.0.0
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  freezed: ^2.5.2
  integration_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
      linux:
        ffiPlugin: true
      macos:
        ffiPlugin: true
      windows:
        ffiPlugin: true
